*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {  margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

svg[Attributes Style] {
    fill: rgb(255, 255, 255);
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

html|* > svg {
    transform-origin: 50% 50% 0px;
}

a {
    color: inherit;
    outline: 0;
}

a, u {
    text-decoration: none;
}

p{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1, h2, h3, h4, h5, h6, li, ol, ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

body{
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.wrapper{
	width: 100%;
	position: relative;
	min-height: 100vh;
	background: #fff;
}

.menu{
	width: 100%;
	background: #1d2126;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 105;
    height: 60px;
    width: 100%;
    color: #a4aead;
}

.menu_container{
	width: 100%;
	max-width: 1170px;  
    margin: 0 auto;
	position: relative;
}

.unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    user-select: none;
}

.menu_logo{
	vertical-align: middle;
    float: left;
}

.menu_logo  a{
	height: 60px;
	line-height: 60px;
}

.menu_logo  a .logo{
    vertical-align: middle;
}

.menu_toggle{
	float: right;
	display: none;
}

.menu_toggle_icon{
	display: block;
	line-height: 60px;
}

.menu_icon{
    height: 35px;
    width: 35px;
    fill: #ccc;
    opacity: 1;
	vertical-align: middle;
}

.menu_main{
	float: right;
}

.menu_item{
	display: block;
	float: left;
	line-height: 60px;
	font-size: 14px;
	font-weight: 500;
	margin: 0 5px;
}

.menu_item:nth-child(1){
	margin: 0 5px 0 0;
}

.menu_item:last-child{
	margin: 0 0 0 5px;
}

.menu_link{
    text-transform: uppercase;
    cursor: pointer;
	color: #a4aead;
	padding: 5px 15px;
    letter-spacing: .5px;
    -webkit-transition: border .3s ease-out, color .3s ease-out;
    transition: border .3s ease-out, color .3s ease-out;
	border: 2px solid transparent;
	border-radius: 3px;
}

.menu_link:hover{
    border: 2px solid #5b6168;
}

.menu_link_active{
	border: 2px solid #23b7a4;
	color: #23b7a4;
}

.menu_link_active:hover{
	border: 2px solid #23b7a4;
	color: #23b7a4;
}

.menu_bl{
	display: block;
	opacity: 1;
}


.header{
    width: 100%;
    color: #fff;
}

.slider{
	background: url(../img/picture.jpg);
    background-color: #3a454d;
    color: #fff;
    width: 100%;
    padding: 13em 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.slider_content{
	max-width: 1170px;
	margin: 0 auto;
	color: #fff;
}

.slider_content_text{
	float: left;
	max-width: 600px;
}

.slider_content_title{
	margin-bottom: 20px;
}

.slider_content_title h2{
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
}

.slider_content_description{
	line-height: 1.56em;
}

.slider_content_description p{
	font-size: 16px;
	color: #ccd0d7;
}

.slider_content_btn{
	margin-top: 2.5em;
}

.viev_more, .video_tour{
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	border: 2px solid #fff;
	padding: 10px 20px;
	-webkit-transition: background .3s ease-out, border .3s ease-out;
    transition: background .3s ease-out, border .3s ease-out;
}

.viev_more{
	border: 2px solid #23b7a4;
	background: #23b7a4;
	margin-right: 10px;
}

.viev_more:hover{
	background: #28d7c0;
	border: 2px solid #28d7c0;
}

.video_tour:hover{
	border: 2px solid #23b7a4;
	background: #23b7a4;
}

.about{
	width: 100%;
    color: #8d8f92;
	border-bottom: 1px solid #dde1e4;
}

.about_content{
	max-width: 1170px;
    margin: 0 auto;
	padding: 6.250em 0 5em 0;
}

.about_title{
	margin-bottom: 3.75em;
}

.about_title h3{
	position: relative;
	font-weight: 400;
    font-size: 36px;
    color: #292f36;
    text-transform: uppercase;   
	margin-left: 20px;
}

.about_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #e1e6ea;
	position: absolute;
	top: 0;
	left: -20px;
}

.about_items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
}

.about_item_left{
	width: 65%;
}

.about_item_right{
	width: 35%;
}

.about_item_description{
	padding-right: 4em;
	margin-bottom: 3.125em;
}

.about_item_description p{
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 2.5em;
}

.about_item_social li{
	display: inline-block;
    padding-right: 1px;
	-webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.about_item_social li:hover{
	opacity: .6;
}

.about_item_articles{
	list-style: none;
    counter-reset: lesson;
}

.about_item_article{
    position: relative;
	margin-bottom: 36px;
}

.about_item_article:before{
    content: counter(lesson) "";
    counter-increment: lesson;
    color: #fff;
    position: absolute;
    left: -60px;
    top: 0px;
    min-width: 40px;
    min-height: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    vertical-align: middle;
    background: #23b7a4;
}

.about_item_article_title{
	margin-bottom: 15px;
}

.about_item_article_title h3{
	font-size: 18px;
	font-weight: 400;
	color: #292f36;
}

.about_item_article_text p{
	font-size: 16px;
	color: #8d8f92;
	line-height: 20px;
}

.team{
	width: 100%;
    color: #8d8f92;
}

.team_content{
	max-width: 1170px;
	margin: 0 auto;
	padding: 6.250em 0;
}

.team_title{
	margin-top: 2em;
	margin-bottom: 3.75em;
}

.team_title h3{
	position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #292f36;
    text-transform: uppercase;
    margin-left: 20px;
}

.team_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #e1e6ea;
    position: absolute;
    top: 0;
    left: -20px;
}

.team_items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    margin: 0 -1.5%;
}

.team_item{
	width: 22%;
    margin: 1.5%;
	cursor: pointer;
}

.team_item_img{
	position: relative;
	width: 100%;
    line-height: 0;
}

.team_item_img img{
	width: 100%;
    height: auto;
}

.team_item_overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.40);
	display: none;
	opacity: 0;
}

.item_overlay_active{
	display: block;
	opacity: 1;
}

.team_item_social_icons{
	display: block;
    height: 100%;
    position: relative;
}

.team_item_icons_ul{
    text-align: center;
	text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team_item_icons_ul li{
	display: inline-block;
	width: 29%;
}

.team_item_info{
    width: 100%;
    background: #e1e6ea;
    padding: 20px 22px;
	-webkit-transition: background .3s ease-out;
    transition: background .3s ease-out;
}

.team_item:hover .team_item_info{
    background: #3a454d;
}

.team_item:hover .team_item_info p, .team_item_info p{
	color: #fff;
}

.team_item_name{
	margin-bottom: 10px;
}

.team_item_name p{
	font-size: 16px;
	color: #292f36;
	text-transform: uppercase;
	-webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

.team_item_position p{
	font-size: 14px;
	color: #8d8f92;
	-webkit-transition: color .3s ease-out;
    transition: color .3s ease-out;
}

.work{
	width: 100%;
    background: #3a454d;
}

.work_content{
	max-width: 1170px;
	margin: 0 auto;
	padding: 6.250em 0;
}

.work_title{
	margin-bottom: 3.75em;
}

.work_title h3{
	position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;	
}

.work_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #4e5a62;
    position: absolute;
    top: 0;
    left: -20px;
}

.work_items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    margin: 0 -1.5%;
}

.work_item{
	width: 30.33333%;
    margin: 1.5%;
}

.work_item_img{
	width: 100%;
    line-height: 0;
	position: relative;
}

.work_item_img img{
    width: 100%;
    height: auto;
}

.work_item_overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
	display: none;
	opacity: 0;
	cursor: pointer;
}

.work_item_overlay_active{
	display: block;
	opacity: 1;
}

.work_item_info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 15px;
    background: #292f36;
}

.work_item_increase{
	position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.work_item_info p{
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
}

.work_btn{
	text-align: center;
    margin-top: 3.75em;
}

.work_btn a{
	font-size: 14px;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid #fff;
	text-transform: uppercase;
	-webkit-transition: background .3s ease-out, color .3s ease-out;
    transition: background .3s ease-out, color .3s ease-out;
}

.work_btn a:hover{
	color: #4e5a62;
	background: #fff;
}

.services{
	width: 100%;
	color: #8d8f92;
}

.services_content{
	max-width: 1170px;
	margin: 0 auto;
	padding: 6.250em 0; 
}

.services_title{
	margin-bottom: 3.75em;
}

.services_title h3{
	position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #292f36;
    text-transform: uppercase;
    margin-left: 20px;	
}

.services_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #e1e6ea;
    position: absolute;
    top: 0;
    left: -20px;
}

.services_items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    margin: 0 -1.5%;
}

.services_item{
	width: 22%;
    margin: 4% 1.5%;
	text-align: center;
}

.services_item_img{
	width: 100%;
	line-height: 0;
	margin-bottom: 25px;
}

.services_item_img img{
	max-width: 100%;
	height: auto;
}

.services_item_info{
	text-align: center;
	padding: 10px 0;
}

.services_info_title{
	margin-bottom: 25px;
}

.services_info_title h3{
	color: #292f36;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

.services_info_text p{
	font-size: 16px;
	color: #8d8f92;
	line-height: 25px;
}

.features{
	width: 100%;
	background: #3a454d;
}

.features_content{
	max-width: 1170px;
	margin: 0 auto;
	padding: 6.250em 0; 
}	

.features_title{
	margin-bottom: 3.75em;
}

.features_title h3{
	position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;	
}

.features_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #4e5a62;
    position: absolute;
    top: 0;
    left: -20px;
}

.features_items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
    margin: 0 -1.5%;
}

.features_item{
	width: 30.33333%;
    margin: 1.5%;
}

.features_item_img{
	width: 100%;
	line-height: 0;
}

.features_item_img img{
	width: 100%;
	height: auto;
}

.features_item_info{
	width: 100%;
	padding-top: 3em;
}

.features_info_title{
	margin-bottom: 25px;
}

.features_info_title h3{
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
}

.features_info_text p{
	font-size: 16px;
	color: #dcdfe1;
	line-height: 25px;
}

.contact{
	width: 100%;
	color: #8d8f92;
}

.contact_address iframe{
	width: 100%;
	min-height: 350px;
}

.contact_container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 3.75em 0 6.250em;  
}

.contact_title{
	max-width: 1170px;
	margin: 6.250em auto 3.75em;
}

.contact_items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
}

.contact_item{
	position: relative;
	width: 50%;
}

.contact_item_left{
	width: 45%;
	margin-right: 5%;
}

.contact_item_right{
	position: relative;
	width: 50%;
}

.contact_form{
	background: #fff;
	padding: 30px 30px;
	position: absolute;
    bottom: -15px;
    left: 0;
	border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);
}

.contact_form_text input{
	border-radius: 5px;
	background: #eaeef1;
	border: 1px solid #eaeef1;
	font-size: 18px;
	font-weight: 500;
	padding: 10px 17px;
	color: #8d8f92;
	cursor: text;
}

.contact_form_text{
	float: left;
}

.contact_form_text:nth-child(2){
	float: right;
}

.contact_form_text p{
	font-size: 14px;
	text-transform: uppercase;
	color: #8d8f92;
	margin-bottom: 10px;
}

.contact_form_message{
	width: 100%;
    margin-top: 30px;
    float: left;
}

.contact_form_message p{
	font-size: 14px;
	text-transform: uppercase;
	color: #8d8f92;
	margin-bottom: 10px;
}

.contact_form_textarea{
	width: 100%;
	min-height: 160px;
	border-radius: 5px;
	background: #eaeef1;
	border: 1px solid #eaeef1;
	font-size: 18px;
	font-weight: 500;
	padding: 10px 17px;
	color: #8d8f92;
	cursor: text;
}

.contact_form_btn{
	width: 100%;
    margin-top: 30px;
    float: left;
}

.contact_form_btn input{
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	padding: 17px 27px;
	color: #fff;
	background: #23b7a4;
	cursor: pointer;
}

.contact_item_title{
	margin-bottom: 40px;
}

.contact_item_title h3{
	font-size: 20px;
	font-weight: 400;
	color: #292f36;
	text-transform: uppercase;
}

.contact_item_text p{
	font-size: 16px;
	color: #8d8f92;
	line-height: 25px;
	margin-bottom: 20px;
}

.contact_title h3{
	position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #292f36;
    text-transform: uppercase;
    margin-left: 20px;	
}

.contact_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #e1e6ea;
    position: absolute;
    top: 0;
    left: -20px;
}

.footer{
	width: 100%;
	background: #3a454d;
	color: #fff;
}

.footer_container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 2.5em 0;
}

.footer_container_info{
	width: 100%;
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer_container_aboutus{
    width: 50%;
	padding-top: 10px;
}

.footer_container_aboutus p{
	font-size: 14px;
	color: #fff;
	line-height: 18px;
}

.footer_container_contacts{
    width: 50%;
}

.footer_container_contacts_ul{
	float: right;
}

.footer_container_contacts_ul li{
	display: inline-block;
    padding-left: 20px;
}

.scroll_to_top{
	border: 1px solid #23b7a4;
    border-radius: 50%;
    background: #23b7a4;
    padding: 5px 7px 9px 7px;
    float: right;
    cursor: pointer;
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 100;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.vis{
	display: block;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.scroll_to_top:hover{
	border: 1px solid #23b7a4;
}

.social_item_ico{
	display: block;
    height: 35px;
    width: 35px;
    fill: #fff;
    opacity: 1;
}

#home{
	display: none;
	opacity: 0;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.3);
	cursor: pointer;
	z-index: 1000;
	display: none;
	opacity: 0;
}

.overlay_active{
	display: block;
	opacity: 1;
}

@media screen and (max-width: 1190px){
	.menu_container{
		padding: 0 20px;
	}
	
	.slider{
		padding: 13em 1.250em;
	}
	
	.about_content{
		padding: 6.250em 1.250em 5em 1.250em;
	}
	
	.team_content{
		padding: 6.250em 1.250em;
	}
	
	.work_content{
		padding: 6.250em 1.250em;
	}
	
	.services_content {
		padding: 6.250em 1.250em;
	}
	
	.features_content{
		padding: 6.250em 1.250em;
	}
	
	.contact_title{
		padding: 0 1.250em;
	}
	
	.contact_container{
		padding: 3.75em 1.250em 6.250em 1.250em;
	}
	
	.footer_container{
		padding: 2.5em 1.250em;
	}
}

@media screen and (max-width: 880px){
	.about_items{
		flex-wrap: wrap;
	}
	
	.about_item_left {
		width: 100%;
	}
	
	.about_item_right {
		width: 100%;
		margin-top: 50px;
	}
	
	.about_item_articles {
		list-style: none;
		counter-reset: lesson;
		padding-left: 60px;
	}
	
	.about_item_article:before {
		left: -60px;
	}
	
	.contact_items {
		flex-wrap: wrap;
	}
	
	.contact_item_left {
		width: 100%;
		margin-right: 0%;
	}
	
	.contact_item_right {
		width: 100%;
	}
	
	.contact_form {
		position: relative;
		display: inline-block;
		width: 100%;
	}
	
	.contact_form_text input {
		width: 100%;
	}
	
	.contact_form_text {
		float: none;
	}
	
	.contact_form_text:nth-child(2) {
		float: none;
		margin-top: 30px;
	}
}

@media screen and (max-width: 830px){
	.menu_toggle{
		display: block;
	}
	
	.menu_main{
		display: none;
		opacity: 0;
	}
	
	.menu_main_show{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		top: 60px;
		width: 100%;
		height: 100%;
		border-top: 1px solid #333;
		padding-left: 50px;
		padding-right: 50px;
		text-align: left;
		background: #1a1a1a;
		z-index: 1005;
		overflow: auto;
		text-align: center;
	}
	
	.menu_item:nth-child(1){
		margin: 0 5px;
	}

	.menu_item:last-child{
		margin: 0 5px;
	}

	.menu_item{
		float: none;
	}
}

@media screen and (max-width: 768px){
	.team_item {
		width: 47%;
	}
	
	.work_item {
		width: 47%;
	}
	
	.services_item {
		width: 47%;
	}
	
	.features_item_info {
		padding-top: 2em;
	}
	
	.features_info_title {
		margin-bottom: 20px;
	}
	
	.features_info_title h3 {
		font-size: 16px;
	}
	
	.features_info_text p {
		font-size: 14px;
	}
}

@media screen and (max-width: 718px){
	.footer_container_aboutus {
		width: 100%;
	}
	
	.footer_container_contacts {
		width: 100%;
		margin-top: 15px;
	}
	
	.footer_container_contacts_ul {
		float: none;
	}
	
	.footer_container_contacts_ul li:first-child {
		padding-left: 0;
	}
}

@media screen and (max-width: 690px){
	.features_item {
		width: 47%;
		margin: 6% 1.5%;
	}
}

@media screen and (max-width: 380px){
	.team_item {
		width: 100%;
	}
	
	.work_item {
		width: 100%;
	}
	
	.services_item {
		width: 100%;
	}
	
	.features_item {
		width: 100%;
	}
	
}














