*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {  margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

svg[Attributes Style] {
    fill: rgb(255, 255, 255);
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

html|* > svg {
    transform-origin: 50% 50% 0px;
}

a {
    color: inherit;
    outline: 0;
}

a, u {
    text-decoration: none;
}

p{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1, h2, h3, h4, h5, h6, li, ol, ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}

body{
    position: relative;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
	width: 100%;
	position: relative;
	min-height: 100vh;
}

.menu{
	width: 100%;
	background: #1d2126;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 105;
    height: 60px;
    width: 100%;
    color: #a4aead;
}

.menu_container{
	width: 100%;
	max-width: 1170px;  
    margin: 0 auto;
}

.unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    user-select: none;
}

.menu_logo{
	vertical-align: middle;
    float: left;
}

.menu_logo  a{
	height: 60px;
	line-height: 60px;
}

.menu_logo  a .logo{
    vertical-align: middle;
}

.menu_main{
	float: right;
}

.menu_item{
	display: block;
	float: left;
	line-height: 60px;
	font-size: 14px;
	font-weight: 500;
	margin: 0 5px;
}

.menu_item:nth-child(1){
	margin: 0 5px 0 0;
}

.menu_item:last-child{
	margin: 0 0 0 5px;
}

.menu_link{
    text-transform: uppercase;
    cursor: pointer;
	color: #a4aead;
	padding: 5px 15px;
    letter-spacing: .25px;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
	border: 2px solid transparent;
}

.menu_link:hover{
    border: 2px solid #5b6168;
	border-radius: 3px;
}




















