*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {  margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

svg[Attributes Style] {
    fill: rgb(255, 255, 255);
}

svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow: hidden;
}

html|* > svg {
    transform-origin: 50% 50% 0px;
}

a {
    color: inherit;
    outline: 0;
}

a, u {
    text-decoration: none;
}

p{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1, h2, h3, h4, h5, h6, li, ol, ul {
    margin-bottom: 0;
    padding-bottom: 0;
}

ul {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
    
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

body{
    position: relative;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper{
	width: 100%;
	position: relative;
	min-height: 100vh;
	background: #fff;
}

.menu{
	width: 100%;
	background: #1d2126;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 105;
    height: 60px;
    width: 100%;
    color: #a4aead;
}

.menu_container{
	width: 100%;
	max-width: 1170px;  
    margin: 0 auto;
}

.unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select:none;
    -khtml-user-select: none;
    user-select: none;
}

.menu_logo{
	vertical-align: middle;
    float: left;
}

.menu_logo  a{
	height: 60px;
	line-height: 60px;
}

.menu_logo  a .logo{
    vertical-align: middle;
}

.menu_main{
	float: right;
}

.menu_item{
	display: block;
	float: left;
	line-height: 60px;
	font-size: 14px;
	font-weight: 500;
	margin: 0 5px;
}

.menu_item:nth-child(1){
	margin: 0 5px 0 0;
}

.menu_item:last-child{
	margin: 0 0 0 5px;
}

.menu_link{
    text-transform: uppercase;
    cursor: pointer;
	color: #a4aead;
	padding: 5px 15px;
    letter-spacing: .5px;
    -webkit-transition: border .3s ease-out, color .3s ease-out;
    transition: border .3s ease-out, color .3s ease-out;
	border: 2px solid transparent;
	border-radius: 3px;
}

.menu_link_active{
	border: 2px solid #23b7a4;
	color: #23b7a4;
}

.menu_link:hover{
    border: 2px solid #5b6168;
}

.header{
    width: 100%;
    color: #fff;
}

.slider{
	background: url(../img/picture.png);
    background-color: #3a454d;
    color: #fff;
    width: 100%;
    padding: 13em 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.slider_content{
	max-width: 1170px;
	margin: 0 auto;
	color: #fff;
}

.slider_content_text{
	float: left;
	max-width: 600px;
}

.slider_content_title{
	margin-bottom: 20px;
}

.slider_content_title h2{
	font-size: 32px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
}

.slider_content_description{
	line-height: 1.56em;
}

.slider_content_description p{
	font-size: 16px;
	color: #ccd0d7;
}

.slider_content_btn{
	margin-top: 2.5em;
}

.viev_more, .video_tour{
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	border: 2px solid #fff;
	padding: 10px 20px;
	-webkit-transition: background .3s ease-out, border .3s ease-out;
    transition: background .3s ease-out, border .3s ease-out;
}

.viev_more{
	border: 2px solid #23b7a4;
	background: #23b7a4;
	margin-right: 10px;
}

.viev_more:hover{
	background: #28d7c0;
	border: 2px solid #28d7c0;
}

.video_tour:hover{
	border: 2px solid #23b7a4;
	background: #23b7a4;
}

.about{
	width: 100%;
    color: #8d8f92;
	border-bottom: 1px solid #dde1e4;
}

.about_content{
	max-width: 1170px;
    margin: 0 auto;
	padding: 6.250em 0 5em 0;
}

.about_title{
	margin-bottom: 3.75em;
}

.about_title h3{
	position: relative;
	font-weight: 400;
    font-size: 36px;
    color: #292f36;
    text-transform: uppercase;   
	margin-left: 20px;
}

.about_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #e1e6ea;
	position: absolute;
	top: 0;
	left: -20px;
}

.about_items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
}

.about_item_left{
	width: 65%;
}

.about_item_right{
	width: 35%;
}

.about_item_description{
	padding-right: 4em;
	margin-bottom: 3.125em;
}

.about_item_description p{
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 2.5em;
}

.about_item_social li{
	display: inline-block;
    padding-right: 1px;
	-webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.about_item_social li:hover{
	opacity: .6;
}

.about_item_articles{
	list-style: none;
    counter-reset: lesson;
}

.about_item_article{
    position: relative;
	margin-bottom: 36px;
}

.about_item_article:before{
    content: counter(lesson) "";
    counter-increment: lesson;
    color: #fff;
    position: absolute;
    left: -60px;
    top: 0px;
    min-width: 40px;
    min-height: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    vertical-align: middle;
    background: #23b7a4;
}

.about_item_article_title{
	margin-bottom: 15px;
}

.about_item_article_title h3{
	font-size: 18px;
	font-weight: 400;
	color: #292f36;
}

.about_item_article_text{
	
}

.about_item_article_text p{
	font-size: 16px;
	color: #8d8f92;
	line-height: 20px;
}

.team{
	width: 100%;
    color: #8d8f92;
}

.team_content{
	max-width: 1170px;
	margin: 0 auto;
	padding: 6.250em 0;
}

.team_title{
	margin-top: 2em;
	margin-bottom: 3.75em;
}

.team_title h3{
	position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #292f36;
    text-transform: uppercase;
    margin-left: 20px;
}

.team_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #e1e6ea;
    position: absolute;
    top: 0;
    left: -20px;
}

.team-items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
    margin: 0 -1.5%;
}

.team-item{
	width: 22%;
    margin: 1.5%;
}

.team-item-img{
	width: 100%;
    line-height: 0;
}

.team-item-img img{
	max-width: 100%;
    height: auto;
}

.team-item-info{
    width: 100%;
    background: #e1e6ea;
    padding: 20px;
}

.team-item-name{
	margin-bottom: 10px;
}

.team-item-name p{
	font-size: 16px;
	color: #292f36;
	text-transform: uppercase;
}

.team-item-position p{
	font-size: 14px;
	color: #8d8f92;
}

.work{
	width: 100%;
    background: #3a454d;
}

.work_content{
	max-width: 1170px;
	margin: 0 auto;
	padding: 6.250em 0;
}

.work_title{
	margin-bottom: 3.75em;
}

.work_title h3{
	position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;	
}

.work_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #4e5a62;
    position: absolute;
    top: 0;
    left: -20px;
}

.work_items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    margin: 0 -1.5%;
}

.work_item{
	width: 30.33333%;
    margin: 1.5%;
}

.work_item_img{
	width: 100%;
    line-height: 0;
}

.work_item_img img{
    max-width: 100%;
    height: auto;
}

.work_btn{
	text-align: center;
    margin-top: 3.75em;
}

.work_btn a{
	font-size: 14px;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	border: 2px solid #fff;
	text-transform: uppercase;
	-webkit-transition: background .3s ease-out, color .3s ease-out;
    transition: background .3s ease-out, color .3s ease-out;
}

.work_btn a:hover{
	color: #4e5a62;
	background: #fff;
}

.services{
	width: 100%;
	color: #8d8f92;
}

.services_content{
	max-width: 1170px;
	margin: 0 auto;
	padding: 6.250em 0; 
}

.services_title{
	margin-bottom: 3.75em;
}

.services_title h3{
	position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #292f36;
    text-transform: uppercase;
    margin-left: 20px;	
}

.services_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #e1e6ea;
    position: absolute;
    top: 0;
    left: -20px;
}

.services_items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    margin: 0 -1.5%;
}

.services_item{
	width: 22%;
    margin: 4% 1.5%;
	text-align: center;
}

.services_item_img{
	width: 100%;
	line-height: 0;
	margin-bottom: 25px;
}

.services_item_img img{
	max-width: 100%;
	height: auto;
}

.services_item_info{
	text-align: center;
	padding: 10px 0;
}

.services_info_title{
	margin-bottom: 25px;
}

.services_info_title h3{
	color: #292f36;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

.services_info_text p{
	font-size: 16px;
	color: #8d8f92;
	line-height: 25px;
}

.features{
	width: 100%;
	background: #3a454d;
}

.features_content{
	max-width: 1170px;
	margin: 0 auto;
	padding: 6.250em 0; 
}	

.features_title{
	margin-bottom: 3.75em;
}

.features_title h3{
	position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    margin-left: 20px;	
}

.features_title h3:before{
	content: "";
    display: block;
    width: 10px;
    height: 100%;
    background: #4e5a62;
    position: absolute;
    top: 0;
    left: -20px;
}

.features_items{
	display: -webkit-box;
    display: -ms-flexbox;
	display: -webkit-flex;
    display: flex;
    margin: 0 -1.5%;
}

.features_item{
	width: 30.33333%;
    margin: 1.5%;
}

.features_item_img{
	width: 100%;
	line-height: 0;
}

.features_item_img img{
	max-width: 100%;
	height: auto;
}

.features_item_info{
	width: 100%;
	padding-top: 3em;
}

.features_info_title{
	margin-bottom: 25px;
}

.features_info_title h3{
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
}

.features_info_text p{
	font-size: 16px;
	color: #dcdfe1;
	line-height: 25px;
}

.footer{
	width: 100%;
	background: #3a454d;
	color: #fff;
}

.footer_container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 2.5em 0;
}

.footer_container_info{
	width: 100%;
}

.footer_container_aboutus{
	float: left;
    width: 50%;
}

.footer_container_aboutus p{
	font-size: 14px;
	color: #fff;
}

.footer_container_contacts{
	float: right;
    width: 50%;
}

.footer_container_contacts_ul{
	float: right;
}

.footer_container_contacts_ul li{
	display: inline-block;
    padding-left: 20px;
}






